html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: red;
}

::selection {
  color: white;
  background: red;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  background-color: black !important;
  margin: 0;
  padding: 0;
  font-family: "Montserrat" !important;
}

.navbar navbar-expand-lg navbar-dark bg-dark {
  color: green !important;
}

video {
  object-fit: fill;
}

li {
  padding: 0px 10px;
}

li a:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}
li a span:hover {
  color: rgba(255, 0, 0, 0.5) !important;
}

button:hover {
  background-color: #8f1803 !important;
  border: none;
  transition: ease-in-out 0.2s;
}

section {
  scroll-snap-align: start;
}
